<nav class="z-depth-0 row">
<div class="nav-wrapper white">
  <h1 class="col m12 l12" id=neon-tubing><span>E</span>AT D<span>A</span> BU<span>RG</span>ER</h1>
</div>
</nav>
<div class="section">
  <div class="row">
	  <div class="col s8 m6 offset-s2 offset-m3">
	    <div class="chips-placeholder"></div>
	  </div>
  </div>
  <div class="row" id="stomach">
  	<div class="col s8 m8 offset-s2 offset-m2 valign-wrapper" id="burgers-devoured">
  		<div class="col s4 m4 offset-s6 offset-m6">
		  <div class="chip">
		    <img class="responsive-img" src="/images/burger.png" alt="burger">
		    Kimchi Burger
		  </div>
		  </div>
{{!-- 	      <img class="responsive-img" src="/images/stomach1.png" alt="stomach"/> --}}
	</div>
  </div>
</div>
{{!-- <footer class="page-footer white">
</footer>
 --}}